<nav class="navbar navbar-expand-lg w-100" style="background-color: oklch(83.98% 0.1579 88.42);">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <!-- Logo en cuadro 1:1 -->
            <div class="d-flex justify-content-center align-items-center"
                style="width: 40px; height: 40px; background-color: oklch(97.31% 0 0);">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Sena_Colombia_logo.svg/1045px-Sena_Colombia_logo.svg.png" alt="Logo"
                    style="width: 100%; height: 100%; object-fit: contain;">
            </div>
            <span class="ms-2">Inventory App</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inventory">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>